*{
	margin: 0;
	padding: 0;
}
:root{
	--n: 141414;
	--p:  calc(1vw + 1vh);
	--cubic-bezier3: 1.25s cubic-bezier(.2,.5,0,1);
	--cubic-bezier4: 2s cubic-bezier(.05,.5,0,1);
}

@font-face{
	font-family: "arsenal-regular";
	src: url("../fonts/arsenal-regular.woff2");
}

a{
	text-decoration: none;
	color: black;
}

.magic-list{
	font-size: 50px;
	padding: calc(var(--n) * 2);
	font-family: arsenal_f, sans-serif;
}

.magic-list__item{
	cursor: none;
	text-decoration: none;
	display: block;
	padding: calc(var(--n) * 3)calc(var(--n) * 3);

}

.magic-list__item:first-child{
	border-top: 1.5px solid var(--p);
}

.magic-list__header{
	transition: transform var(--transition);
	font-size: 50px;
	padding: 80px;
}

.magic-list__item::before{
	position: absolute;
	transition-delay: .025s;
	will-change: transform;
	font-size: calc(var(--n) * .90);
	margin-top: calc(var(--n) * 2);
	margin-left: calc(var(--n) * -2);
	letter-spacing: .5px;
	transition: transform var(--transition);
}

.magic-list__item: hover .magic-list__header,
.magic-list__item: hover::before{
	transform: translate3d(calc(var(--n) * .5), 0, 0);
}

.cursor{
	--width: calc(var(--n) * 20);
	--height: calc(var(--n) * 15);
	position: fixed;
	width: var(--width);
	height: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	transform: translate3d(var(--move-x), var(--move-y), 0);
	transition: transform var(--transition-cursor), height 1s ease;
	z-index: -1;
	will-change: transform;
}

.magic-list__item:hover .cursor{
	height: var(--height);
}

.cursor__image{
	width: calc(var(--width) * 2);
	height: calc(var(--height) * 2);
	top: calc(var(--height) * -.4);
	left: calc(var(--width) * -.25)
	position: relative;
	background-size: cover;
	background-position: center;
	--cursor-transform: translate3d(calc(var(--move-x) / -5), calc(var(--move-y) / -5), 0);
	transform: var(--cursor-transform) scale(1.5);
	transition: transform var(--transition-cursor);
}

.magic-list__item:hover .cursor__image{
	transform: var(--cursor-transform)scale(1);
}

#sup{
	font-size: 20px;
	color: gray;
}

hr{
	height: 1%;
	margin-left: 55px;
}

img{
	width: 500px;
	height: 300px;
}